[Unit]
Description=sasuke-dinner
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=%WorkingDirectory%
ExecStart=%WorkingDirectory%/venv/bin/python -m src
Restart=no
Type=oneshot

[Install]
WantedBy=multi-user.target
